.conteudo{
    background: blue;
    border: 1px solid grey;
    height: 200px;
    width: 200px;
    float: left;
    margin: 10px;
}
/* .conteudo-zero{
    background: red;
    border: 1px solid grey;
    height: 200px;
    width: 200px;
} */

/* .conteudo1{
    background: red;
    border: 1px solid grey;
    height: 200px;
    width: 200px;
    float: left;
    margin: 10px;
} */

.clear{
    /*Limpa o fluxo de elementos flutuantes do float */
    clear: both;
}

#principal{
    border: 1px solid red;
    background: green;

}