#container{
    background: #fff;
    width: 800px;
    /* para centralizar uma div utilizar auto para as margens da direita de da esquerda  */
    margin: 10px  auto ;
    padding: 10px;
    /* adicionando a posição relativa o alimento absoluto e alinhado a ele <Linha de referencia do codigo de posicionamento absoluto = 35> */
    position: relative;
}

h1{
    position: static;
}
p{
    width: 400px;
}
.relative{
    border: 1px solid red;
    position: relative ;
    /* top right bottom left propriedades para deslocar junto com o position relative */
    top: -10px;
    /* aceita tanto numeros positivos quanto negativos */
    left: 100px;
}

body{
   background:#007fc7; 
}
.absolute{
    border: 1px solid red;
    background: #f2f2f2;
    right: 20px;
    top: 80px;
    /* Quando definido em absoluto ele sai do fluxo,ignorando a "caixa criada" */
    position: absolute;
}
.fixed{
    border: 1px solid red;
    background: #f2f2f2;
    right: 10px;
    bottom: 0px; 
    margin: 0px;
    /* posição fixed serve para que independente da navegação da pagina o elemento fica fixo e se move com ela */
    position: fixed;
}
